@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #1d1d1d;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #642b73 0%,
    #040004 90%
  );
}

.container{
  display: flex;
  min-height: 85vh;
}

.search-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  position: relative;
  max-width: 190px;
}

/* ÃREA DE BUSCA */

input{
  min-width: 100%;
  line-height: 28px;
  padding: 0px 4px 0px 4px;
  border: 2px solid transparent;
  border-radius: 8px 0px 0px 8px;
  outline: none;
  background-color: #ffffff;
  color: #1d1d1d;
  transition: .3s ease;
}

input::placeholder{
  color: #c5c5c5;
}
 
 input:focus, input:hover{
  outline: none;
  border-color: rgba(100, 43, 115, 0.5);
  background-color: #ffffff;
}

.search-btn{
  min-width: 40%;
  position: relative;
  height: 32px;
  border-radius: 0px 8px 8px 0px;
  font-size: 12px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  color: #1d1d1d;
}

.search-btn::before{
  content: '';
  position: absolute;
  width: 0;
  height: 32px;
  border-radius: 0px 8px 8px 0px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #642b73, #040004);
  transition: 0.3s ease;
  display: block;
  z-index: -1;
}
.search-btn:hover{
  transition: 0.3s ease;
  color: #ffffff;
}

.search-btn:hover::before{
  width: 100%;
}

 /* ------------- */

.movie-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50vh;

  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.watch-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35vh;

  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 0px 15px 15px 0px;
  box-shadow: inset 20px 0px 15px -20px rgba(44, 19, 51, 0.5);
}

.title{
  font-size: 28px;
  margin-bottom: 10px;
}

#result-list, #result-search{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  height: 600px;
  padding: 25px 0 25px 0;
  margin-top: 20px;
  border-radius: 14px;
  border: 2px solid #c5c5c5;
  overflow-y: scroll;
}

#result-list::-webkit-scrollbar, #result-search::-webkit-scrollbar{
  background-color: #ffffff;
  border-radius: 0 14px 14px 0;
}

#result-list::-webkit-scrollbar-thumb, #result-search::-webkit-scrollbar-thumb{
  background-color: #c5c5c5;
  width: 50%;
  border-radius: 14px;
}

.options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.to-attend, .watched{
  min-width: 70%;
  height: 32px;
  position: relative;
  border-radius: 8px;
  font-size: 12px;
  border: solid 2px transparent;
  background-color: #ffffff;
  cursor: pointer;
  color: #1d1d1d;
}

.to-attend:hover, .watched:hover{
  transition: 0.3s ease;
  border: solid 2px rgba(100, 43, 115, 0.5);
}

.no-movies{
  font-size: 14px;
  font-weight: 900;
  color: #c5c5c5;
}
.warning{
  color: #ff0000;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.add-movie{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  border: solid 2px transparent;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.add-movie:hover{
  transition: 0.3s ease;
  border: solid 2px rgba(100, 43, 115, 0.5);
}

.add-movie > img{
  max-height: 25px;
  margin-right: 10px;
}

.poster{
  border-radius: 8px;
  max-width: 200px;
}

.infos-movie{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 350px;
  padding: 0 20px 0 20px;
}

.texts{
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
  word-wrap: break-word;
  font-size: 12px;
}