@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #1d1d1d;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #642b73 0%,
    #040004 90%
  );
}

.bi-search {
  color: white;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;
}

.image-fade {
  position: relative;
}

.content:hover {
  opacity: 1;
}
.content > * {
  transform: translateY(100%);
  transition: transform 0.4s;
}

.content:hover > * {
  transform: translateY(0px);
}

.box-banner {
  overflow: hidden;
  height: 30vh;
  border-radius: 0.5rem;
}

.zoom-image-container img {
  transition: transform 0.3s;
}

.zoom-image-container:hover img {
  transform: scale(1.2);
}

.metacritic-note {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #c5c5c5;
  height: 4rem;
  width: 4rem;
}

/*CSS antigo*/
.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50vh;

  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.watch-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35vh;

  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 0px 15px 15px 0px;
  box-shadow: inset 20px 0px 15px -20px rgba(44, 19, 51, 0.5);
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
}

#result-list,
#result-search {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  height: 600px;
  padding: 25px 0 25px 0;
  margin-top: 20px;
  border-radius: 14px;
  border: 2px solid #c5c5c5;
  overflow-y: scroll;
}

#result-list::-webkit-scrollbar,
#result-search::-webkit-scrollbar {
  background-color: #ffffff;
  border-radius: 0 14px 14px 0;
}

#result-list::-webkit-scrollbar-thumb,
#result-search::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  width: 50%;
  border-radius: 14px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.to-attend,
.watched {
  min-width: 70%;
  height: 32px;
  position: relative;
  border-radius: 8px;
  font-size: 12px;
  border: solid 2px transparent;
  background-color: #ffffff;
  cursor: pointer;
  color: #1d1d1d;
}

.to-attend:hover,
.watched:hover {
  transition: 0.3s ease;
  border: solid 2px rgba(100, 43, 115, 0.5);
}

.no-movies {
  font-size: 14px;
  font-weight: 900;
  color: #c5c5c5;
}

.warning {
  color: #ff0000;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none;
}

.add-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  border: solid 2px transparent;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.add-movie:hover {
  transition: 0.3s ease;
  border: solid 2px rgba(100, 43, 115, 0.5);
}

.add-movie > img {
  max-height: 25px;
  margin-right: 10px;
}

.poster {
  border-radius: 8px;
  max-width: 200px;
}

.infos-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 350px;
  padding: 0 20px 0 20px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
  word-wrap: break-word;
  font-size: 12px;
}

#movies-container {
  width: 90%;
}

.banner-movie {
  width: 70px;
  height: 100%;
  border-radius: 8px;
  margin-right: 15px;
  cursor: pointer;
}

.movie-to-watch {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px 5px;
  padding-bottom: 10px;
  border-bottom: solid 2px #c5c5c5;
}
.movie-name {
  font-weight: 600;
  font-size: 22px;
}

.movie-tags {
  font-size: 12px;
}

.delete-card {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 200px;
}
